.parent{
    
    display: flex;
    
    background-color:rgb(255, 243, 243);
    justify-content:space-around;
    height: 100vh;
    font-family: sans-serif;
    align-items: center;
    
}
.form{
     gap: 20px ;
    display: flex;
   flex-direction: column;
  justify-content: space-around;
  font-size: 1.em;
  box-shadow: 10px 10px 10px 10px #F0F2F4;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 6px;

}
h1{
    color: #1877f2;
    font-size: 2.5em;
}

.child1{
     
    
    font-size: 1rem;
}
.child2{

display: flex;
flex-direction: column;
justify-content: space-around;
height: 150%;
gap: 30px 20px;

}
.login{
    justify-content: center;
     gap: 10px 10px;
     color: white;
     background-color: #1877f2;
     border-radius: 6px;
}
.forget{
    justify-content: center;
    display: flex;

}
.new{
    
    background-color:#43B62B;
    border-radius: 4px;
}
